body {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  padding: 20px;
}

.container {
  width: 500px;
  background-color: rgb(129, 149, 168);
  border: 2px solid rgb(79, 99, 118);
  border-radius: 10px;
}

.screen {
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  background-color: rgb(202, 202, 202);
  border: 2px solid rgb(79, 99, 118);
  border-radius: 5px;
}

.last {
  min-height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
}

.current {
  min-height: 50px;
  font-size: 32px;
}

.clear {
  margin-left: 30px;
}

.operators {
  align-self: center;
}

.screen,
.numbers,
.operators {
  margin: 30px;
}

.screen,
.row {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  padding: 20px;
  margin: 7px;
  font-size: 20px;
  background-color: rgb(142, 199, 221);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(132, 179, 201);
}

button:active {
  background-color: rgb(122, 159, 181);
}

.button-red {
  background-color: rgb(212, 63, 31);
}

.button-red:hover {
  background-color: rgb(192, 53, 21);
}

.button-red:active {
  background-color: rgb(172, 43, 11);
}
